.domik-2 {
    
    &:hover {
        .cloud-2__img {
            transition-property: opacity;
            transition-duration: 1s;
            opacity: 1;
        }
      }
}

.domik-2__img {
    position: absolute;
    width: 100px;
    height: 100px;
    bottom: 340px;
    right: 100px;
}

.cloud-2__img {
    position: absolute;
    width: 210px;
    height: 100px;
    bottom: 400px;
    right: 165px;
    transition-property: opacity;
    transition-duration: 1s;
    opacity: 0;
}