// $containerWidth: 940px;
// $baseFontSize: 18px;

//breakpoints

$tablets: 768px;
$phones: 480px;
$iphone5: 320px;

//colors
// $blue: #1968B1; 
// $yellow: #FFD517;
// $darkGreen: #0b4d3c;

//z-indexes

// $z-fixed-menu: 100;

// media
// @import "components/media";

// normalise
// @import url("components/normalize");

// setups
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
@import "layout";

// components
@import "header";
@import "project";
@import "domik-1";
@import "domik-2";
@import "domik-3";
@import "domik-4";
@import "footer";