.domik-3 {

    &:hover {
        .cloud-3__img {
            transition-property: opacity;
            transition-duration: 1s;
            opacity: 1;
        }
    }

    @include phones {
        display: none;
    }
}

.domik-3__img {
    position: absolute;
    width: rem(110px);
    height: rem(388px);
    bottom: rem(50px);
    right: rem(400px);
}

.cloud-3__img {
    position: absolute;
    width: rem(210px);
    height: rem(100px);
    bottom: rem(330px);
    right: rem(465px);
    transition-property: opacity;
    transition-duration: 1s;
    opacity: 0;
}